*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
html,body{
height:100%;
width:100%;
}




.page1{
    background: url("./background.png");
    background-size: cover;
}
.page2{
    background: url("./background.png");
    background-size: cover;
}
.page3{
    background: url("./background.png");
    background-size: cover;
}
.page4{
    background: url("./background.png");
    background-size: cover;
}
.page5{
    background: url("./background.png");
    background-size: cover;
}
